.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 2fr;
    padding: 4.5vmax 10vmax;
    background-color: rgb(37, 37, 37);
    color: rgb(197, 197, 197);
}

.footer > div {
    margin: 1vmax;
    display: flex;
    flex-direction: column;
}

.footer > div:nth-child(2) {
    display: block;
}

.footer > div:nth-child(2) > a {
    display: inline-block;
}

.footer > div > p {
    font-weight: 700;
    font-size: 1vmax;
}

.footer > div > a {
    text-decoration: none;
    color: rgb(197, 197, 197);
    font-weight: 300;
    margin: 0.3vmax 0.2vmax;
}

.footer > div > a:hover {
    color: white;
}

.footer > div:last-child > div {
    font-size: 0.7vmax;
    margin: 1vmax 0;
}

.footer > div:last-child > button {
    width: 45%;
    height: 10%;
    font-size: 0.7vmax;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    transition: all 0.2s;
}

.footer > div:last-child > button:hover {
    background-color: white;
    color: black;
}

.footerBorder {
    background-color: rgb(37, 37, 37);
}

.footerBorder > div {
    border-top: 1px solid rgba(197, 197, 197, 0.185);
    color: rgb(197, 197, 197);
    width: 80vmax;
    margin: auto;
    padding: 2vmax;
}